#canvas {
    position: relative;
}
.word {
    position: absolute;
    color: #27ae60;
    animation: move 25s linear;
}

@keyframes move {
    0% {
        right: 100%;
    }
    50% {
        color: #f1c40f;
    }
    100% {
        right: 0;
        color: #c0392b;
    }
}
